<h2> <%= @post.title %></h2>

<h5>
  <strong>Категории:</strong>
  <%= render @post.categories %>
</h5>

<% if @post.user.present? %>
    <h5>
    <strong>Автор:</strong>
    <%= @post.user.email %>
    </h5>
<% end %>

<p>
  <%= @post.body %>
</p>



<% unless @post.comments.empty? %>
    <strong><%= 'Комментарии ('+@post.comments.count.to_s+')'%></strong>
    <% @post.comments.each do |comment| %>
        <p><%= comment.body %></p>
        <% if user_signed_in?  %>
        <p><%= link_to "Удалить", comment, method: :delete %></p>
        <p><%= link_to "Изменить", edit_comment_path %></p>
        <% end %>
    <% end %>
    <strong>Новый комментарий:</strong>
<% else %>
    <strong>Комментариев нет. Оставьте комментарий первым.</strong>
    <br>
<% end %>

<%= render 'comments/form' %>

<% if user_signed_in?  %>
<%= link_to 'Изменить', edit_post_path(@post) %> |
<% end %>

<%= link_to 'Назад', posts_path %>
